# Study of the reliability of borrowers

## Open the table and examine the general information about the data

**Task 1. Import the pandas library. Read the data from the csv file into a dataframe and store it in the `data` variable. The path to the file:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Task 2. Display the first 20 lines of the `data` dataframe on the screen.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Task 3. Display basic dataframe information using the `info()` method.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Data preprocessing

### Removing gaps

**Task 4. Print the number of missing values ​​for each column. Use a combination of the two methods.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Task 5. There are missing values ​​in two columns. One of them is `days_employed`. The gaps in this column will be dealt with in the next step. Another column with missing values, `total_income`, stores income data. The amount of income is most affected by the type of employment, so fill in the gaps in this column with the median value for each type from the `income_type` column. For example, for a person with an employment type of `employee`, the gap in the `total_income` column must be filled by the median income among all records with the same type.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Handling anomalous values

**Task 6. Artifacts (anomalies) may occur in the data - values ​​that do not reflect reality and appeared due to some kind of error. such an artifact would be the negative number of days of work experience in the `days_employed` column. For real data, this is normal. Process the values ​​in this column: replace all negative values ​​with positive ones using the `abs()` method.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Task 7. For each type of employment, print the median `days_employed` in days.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

Two types (unemployed and pensioners) will get abnormally large values. Correcting such values ​​is difficult, so leave them as they are. Moreover, you will not need this column for research.

**Task 8. List the unique values ​​of the `children` column.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Task 9. There are two abnormal values ​​in the `children` column. Remove lines containing such anomalous values ​​from the `data` dataframe.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Task 10. List the unique values ​​of the `children` column again to make sure the artifacts have been removed.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Removing gaps (continued)

**Task 11. Fill in the gaps in the `days_employed` column with the median values ​​for each `income_type` employment type.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

** Task 12. Make sure all gaps are filled. Test yourself and print the number of missing values ​​for each column again using two methods.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Changing Data Types

**Task 13. Replace the real data type in the `total_income` column with an integer using the `astype()` method.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Duplicate Handling

**Task 14. Display the number of duplicate rows in the data. If such lines are present, remove them.**

In [15]:
data.duplicated().sum()

54

In [16]:
data = data.drop_duplicates()

**Task 15. Handle implicit duplicates in the `education` column. This column has the same values, but written differently: using uppercase and lowercase letters. Convert them to lower case. Check other columns.**

In [17]:
data['education'] = data['education'].str.lower()

### Data categorization

**Task 16. Based on the ranges below, create a `total_income_category` column with categories in the `data` dataframe:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 and above - `'A'`.


**For example, a borrower with an income of 25,000 should be assigned an `'E'' category, and a customer with an income of 235,000 should be assigned a `'B'` category. Use your own function named `categorize_income()` and method `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Task 17. Display a list of unique loan purposes from the `purpose` column.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Task 18. Create a function that, based on the data from the `purpose` column, will form a new `purpose_category` column, which will include the following categories:**

- ``car operations'`,
- ``real estate transactions'`,
- ``conducting a wedding'`,
- ``getting an education'`.

**For example, if the `purpose` column contains the substring `'car purchase'`, then the `purpose_category` column should contain the string `'car operations'`.**

**Use your own function named `categorize_purpose()` and method `apply()`. Examine the data in the `purpose` column and determine which substrings will help you correctly identify the category.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Explore data and answer questions

**Task 19. Is there a relationship between the number of children and loan repayment on time?**

In [48]:
def mean_percent(data):
    return data.mean()*100

pd.pivot_table(data,
               index=['children'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

           sum    len mean_percent
          debt   debt         debt
children
0         1063  14107     7.535266
1          444   4809     9.232689
2          194   2052     9.454191
3           27    330     8.181818
4            4     41     9.756098
5            0      9     0.000000
All       1732  21348     8.113172

**Conclusion:**
The average percentage of non-payment slightly depends on the number of children. An increasing percentage of non-returns is not observed in families with `3 children`. What can be explained by an order of magnitude smaller sample of such families in the dataset compared to families with `1-2 children`.

**Lack of outstanding loans for families with 5 children explanation:**

The number of families with more children is less in the dataset, the more children they have.
It can be seen here that all families with `5 children` repaid the loan on time, but this cannot be considered a difference, since there are only `9` such families in the study and this is too small a sample.

**Task 20. Is there a relationship between marital status and loan repayment on time?**

In [49]:
pd.pivot_table(data,
               index=['family_status'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

                        sum    len mean_percent
                       debt   debt         debt
family_status
Не женат / не замужем   273   2796     9.763948
в разводе                84   1189     7.064760
вдовец / вдова           63    951     6.624606
гражданский брак        385   4146     9.286059
женат / замужем         927  12266     7.557476
All                    1732  21348     8.113172

**Conclusion:** Weak dependence is observed.

Unmarried people have the highest percentage of non-payments, then it decreases according to the logic of passing the ~~path of the samurai~~ of the life path: in marriage, the percentage is lower and the lowest in the category 'widower / widow'.

P.S. More like a dependence on age than on marital status. I would check.

**Task 21. Is there a relationship between income and loan repayment on time?**

In [44]:
pd.pivot_table(data,
               index=['total_income_category'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

                        sum    len mean_percent
                       debt   debt         debt
total_income_category
A                         2     25     8.000000
B                       354   5014     7.060231
C                      1353  15938     8.489145
D                        21    349     6.017192
E                         2     22     9.090909

**Conclusion:** The number of borrowers in groups `A` and `E` is very small `25` and `22` respectively, the data may not be representative.
If only categories `B,C,D` are left in the sample, then the distribution is similar to normal.

**Task 22. How do different purposes of a loan affect its repayment on time?**

In [50]:
pd.pivot_table(data,
               index=['purpose_category'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

                           sum    len mean_percent
                          debt   debt         debt
purpose_category
операции с автомобилем     400   4281     9.343611
операции с недвижимостью   780  10754     7.253115
получение образования      369   3989     9.250439
проведение свадьбы         183   2324     7.874355
All                       1732  21348     8.113172

**Conclusion:** There is a dependency.
- The most reliable borrowers take out a loan for `real estate` transactions.
- Slightly worse credits are returned by the category `carrying out a wedding`.
- Worst of all loans are returned by the groups `getting an education` and `operations with a car`

**Task 23. Give possible reasons for gaps in the original data.**

*Answer:* `days_employed` and `income_type` contain gaps, most likely because
- the person does not work and has no income
- works with privacy permission
- a technical error

**Task 24. Explain why filling in the gaps with the median is the best solution for scale variables.**

*Answer:* Because the median value describes the sample better, where values ​​may appear several times larger than for more respondents in the sample.

An example where the average value does not describe the sample well: <br> `Peter has 10 apples, the others (Masha, Pasha, Sasha, Dasha) have 0 apples. On average, each has 2 apples.`

## General conclusion.

Repayment of the loan on time depends most of all on the `purpose of the loan` and `marital status`, weakly depends on the `number of children` and ambiguously depends on the `income level`.

**Recommendations for the bank**

Take into account in the credit scoring model:
- `purpose of the loan`
- `marital status` *- may correlate with age, further investigation required!*

Do not consider in the credit scoring model:
- `income level`
- `number of children`