<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Отлично, Иван! Ты исправил единственный значительный недостаток и теперь твой проект конечно же принят. 
    
Спасибо за работу и успехов в следующих проектах!) </div>

<div style="border:solid green 2px; padding: 20px">
<b>Привет!</b>

Меня зовут Михаленко Дмитрий, и я буду проверять твой проект. Предлагаю общаться на «ты» :) Но если это не удобно - дай знать, и мы перейдем на "вы". 

Моя основная цель — не указать на совершенные тобою ошибки, а поделиться своим опытом и помочь тебе стать аналитиком данных. Ты уже проделал большую работу над проектом, но давай сделаем его еще лучше. Ниже ты найдешь мои комментарии - **пожалуйста, не перемещай, не изменяй и не удаляй их**. Увидев у тебя ошибку, в первый раз я лишь укажу на ее наличие и дам тебе возможность самому найти и исправить ее. На реальной работе твой начальник будет поступать так же, а я пытаюсь подготовить тебя именно к работе аналитиком. Но если ты пока не справишься с такой задачей - при следующей проверке я дам более точную подсказку. Я буду использовать цветовую разметку:

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> Так выделены самые важные замечания. Без их отработки проект не будет принят. </div>

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b> Так выделены небольшие замечания. Я надеюсь, что их ты тоже учтешь - твой проект от этого станет только лучше. Но настаивать на их отработке не буду.

</div>

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Так я выделяю все остальные комментарии.</div>

Давай работать над проектом в диалоге: **если ты что-то меняешь в проекте или отвечаешь на мои комментарии — пиши об этом.** Мне будет легче отследить изменения, если ты выделишь свои комментарии:
<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>

Всё это поможет выполнить повторную проверку твоего проекта оперативнее.

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

54

In [16]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [17]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> Замечание по всему разделу ответов на вопросы
    
****
У тебя хорошие навыки написания кода, в частности groupby, но все же в данном случае не обязательно усложнять код и писать его в несколько строк, достаточно в пивот воспользоваться встроенными функциями. Выведи пожалуйста в каждом из ответов похожую таблицу, в которой будет количество кредитополучателей, количество должников и долю должников, сделать все это можно в одну строку. Немного подскажу, воспользуйся sum,count и mean
    
******
    
Дополни пожалуйста этот раздел работы)

<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Классно поработал над пивот, очень наглядно и локанично </div>

In [48]:
#захотелось выводить в %, а не в сотых долях
def mean_percent(data):
    return data.mean()*100

pd.pivot_table(data,
               index=['children'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

###---------------------OLD---------------------###

# import seaborn as sb

# debt_child_rel = pd.DataFrame()

# # кол-во должников(data['debt']==1) сгруппировано по кол-ву детей
# debt_child_rel['debt_sum'] = data.groupby(data['children'])['debt'].sum() 

# # общее кол-во людей, взявшик кредит сгруппировано по кол-ву детей
# debt_child_rel['debt_count'] = data.groupby(data['children'])['debt'].count()

# # Процент невыплат кредита, зависящий от количества детей
# debt_child_rel['debt_percent'] = debt_child_rel['debt_sum'] / debt_child_rel['debt_count'] * 100

# # Выводим датасет
# display(debt_child_rel)

# # Рассчёт среднего значения невыплаты среди групп
# mean_percent = debt_child_rel['debt_percent'].mean()

# print(f'Среднее значиение невыплаты у всех: {mean_percent:.2f}%')

# # Строим график
# sb.barplot(x=debt_child_rel.index, y=debt_child_rel['debt_percent'])

           sum    len mean_percent
          debt   debt         debt
children
0         1063  14107     7.535266
1          444   4809     9.232689
2          194   2052     9.454191
3           27    330     8.181818
4            4     41     9.756098
5            0      9     0.000000
All       1732  21348     8.113172

**Вывод:** 
Средний процент невыплаты слабо зависит от количества детей. Возрастающий процент невозвратов не наблюдается у семей с `3 детьми`. Что можно объяснить на порядок меньшей выборкой таких семей в датасете по сравнению с семьями у которых `1-2 ребёнка`.

**Отсутсвие невыплаченных кредитов у семей с 5 детьми объяснение:**

Количество семей с бОльшим количеством детей тем меньше в датасете, чем больше у них детей.
Здесь видно, что все семьи с `5 детьми` выплатили кредит вовремя, но это нельзя считать отличием, поскольку таких семей в исследовании всего `9` и это слишком маленькая выборка.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> А сам вывод хороший. Также здорово дополнил про 5 детей

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [49]:
pd.pivot_table(data,
               index=['family_status'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

###---------------------OLD---------------------###

# debt_family = pd.DataFrame()

# #кол-во должников(data['debt']==1) сгруппировано по семейному положению
# debt_family['debt_sum'] = data.groupby(data['family_status'])['debt'].sum() 

# #общее кол-во людей, взявшик кредит сгруппировано по кол-ву детей
# debt_family['debt_count'] = data.groupby(data['family_status'])['debt'].count()

# #Процент невыплат кредита, зависящий от количества детей
# debt_family['debt_percent'] = debt_family['debt_sum'] / debt_family['debt_count'] * 100

# #Сортировка по возрастанию значений
# debt_family = debt_family.sort_values(by='debt_percent')

# #Рассчёт среднего значения невыплаты среди групп
# mean_percent_family = debt_family['debt_percent'].mean()

# print(f'Среднее значиение невыплаты: {mean_percent_family:.2f}%')

# #Выводим датасет
# display(debt_family)

#Строим график
# sb.barplot(x=debt_family['debt_percent'], y=debt_family.index)

                        sum    len mean_percent
                       debt   debt         debt
family_status
Не женат / не замужем   273   2796     9.763948
в разводе                84   1189     7.064760
вдовец / вдова           63    951     6.624606
гражданский брак        385   4146     9.286059
женат / замужем         927  12266     7.557476
All                    1732  21348     8.113172

**Вывод:** Слабая зависимость наблюдается. 

Наибольший процент невыплат у не женатых, далее он снижается по логике прохождения ~~пути самурая~~ жизненного пути: в браке процент ниже и самы низкий у категории 'вдовец / вдова'.
 
P.S. Больше похоже на зависимость от возраста, чем от семейного положения. Я бы проверил.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Да, в принципе зависимость здесь прослеживается довольно явно

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [44]:
pd.pivot_table(data,
               index=['total_income_category'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

###---------------------OLD---------------------###

# debt_income = pd.DataFrame()

# #кол-во должников(data['debt']==1) сгруппировано по семейному положению
# debt_income['debt_sum'] = data.groupby(data['total_income_category'])['debt'].sum() 

# #общее кол-во людей, взявшик кредит сгруппировано по кол-ву детей
# debt_income['debt_count'] = data.groupby(data['total_income_category'])['debt'].count()

# #Процент невыплат кредита, зависящий от количества детей
# debt_income['debt_percent'] = debt_income['debt_sum'] / debt_income['debt_count'] * 100

# #Рассчёт среднего значения невыплаты среди групп
# mean_percent_income = debt_income['debt_percent'].mean()

# print(f'Среднее значиение невыплаты: {mean_percent_income:.2f}%')

# #Выводим датасет
# display(debt_income)

# #Сортировка по возрастанию значений
# # debt_income = debt_income.sort_values(by='debt_percent')

# #Строим график
# sb.barplot(x=debt_income['debt_percent'], y=debt_income.index)

                        sum    len mean_percent
                       debt   debt         debt
total_income_category
A                         2     25     8.000000
B                       354   5014     7.060231
C                      1353  15938     8.489145
D                        21    349     6.017192
E                         2     22     9.090909

**Вывод:** Количество заёмщиков в группах `A` и `E` очень малое `25` и `22` соответсвенно, данные могут быть нерепрезетативны. 
Если оставить в выборке только категории `B,C,D`, то распределение похоже на нормальное.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Здорово, что также заметил про нерепрезентативность части данных

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [50]:
pd.pivot_table(data,
               index=['purpose_category'],
               values=['debt'],
               aggfunc=[sum,len,mean_percent],
               margins=True)

###---------------------OLD---------------------###

# debt_purpose = pd.DataFrame()

# #кол-во должников(data['debt']==1) сгруппировано по семейному положению
# debt_purpose['debt_sum'] = data.groupby(data['purpose_category'])['debt'].sum() 

# #общее кол-во людей, взявшик кредит сгруппировано по кол-ву детей
# debt_purpose['debt_count'] = data.groupby(data['purpose_category'])['debt'].count()

# #Процент невыплат кредита, зависящий от количества детей
# debt_purpose['debt_percent'] = debt_purpose['debt_sum'] / debt_purpose['debt_count'] * 100

# #Сортировка по возрастанию значений
# debt_purpose = debt_purpose.sort_values(by='debt_percent')

# #Рассчёт среднего значения невыплаты среди групп
# mean_percent_purpose = debt_purpose['debt_percent'].mean()

# print(f'Среднее значиение невыплаты: {mean_percent_purpose:.2f}%')

# #Выводим датасет
# display(debt_purpose)

# #Строим график
# sb.barplot(x=debt_purpose['debt_percent'], y=debt_purpose.index)

                           sum    len mean_percent
                          debt   debt         debt
purpose_category
операции с автомобилем     400   4281     9.343611
операции с недвижимостью   780  10754     7.253115
получение образования      369   3989     9.250439
проведение свадьбы         183   2324     7.874355
All                       1732  21348     8.113172

**Вывод:** Есть зависимость.
- Самые надёжнае заёмщики берут кредит на `операции с недвижимостью`.  
- Чуть хуже кредиты возвращает категория `проведение свадьбы`.
- Хуже всех кредиты возващают группы `получение образорвания` и `операции с автомобилем`

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Верно, подробно исследовал зависимости в этих данных

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* `days_employed` и `income_type` содержит пропуски скорее всего по причине того, что
- человек не работает и не имеет дохода 
- работает с допуском секретности
- техническая ошибка

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Хорошие предположения о пропусках данных

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* Потому что медианное значение лучше описывает выборку, где возможно появление значений в несколько раз больше, чем у бОльшего количества респондентов в выборке. 

Пример где среднее значение плохо описывает выборку: <br> `У пети 10 яблок, у остальных(Маши, Паши, Саши, Даши) 0 яблок. В среднем у каждого по 2 яблока.`

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Совершенно верно!

## Общий вывод.

Возврат кредита в срок сильнее всего зависит от `цели кредита` и `семейного положения`, слабо зависит от `количества детей` и неоднозначно зависит от `уровня дохода`. 

**Рекомендации для банка** 

Учитывать в модели кредитного скоринга:
- `цель кредита`
- `семейное положение` *-  может коррелировать с возрастом, требуется дополнительно исследовать!*

Не учитывать в модели кредитного скоринга:
- `уровень дохода`
- `количество детей`

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b> Хорошо бы указать тут еще какие-то рекомендации для банка

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Иван, проект отличный! У тебя сильные аналитические навыки и владение инструментами для проведения исследования. Но всё же в проекте есть буквально одно критическое замечание и я попрошу тебя исправить его, чтобы проект стал еще лучше! </div>

<div class="alert alert-info"> Спасибо за правки! =) </div>